page {
  width: 100%;
  height: 100%;

  .login {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    // justify-content: center;

    .logo {
      margin-top: 140rpx;
      width: 200rpx;
      height: 200rpx;
      margin-bottom: 30rpx;
    }

    .button {
      margin-top: 50px;
      width: 80%;
      height: 40px;
    }

    .input {
      width: 80%;
      margin-bottom: 10px;
    }
  }
}
